body {
	background-color: #D1D3D4;
	margin: 0;
}

#container {
	width: 1280px;
	height: 800px;
	border: solid 1px #AF5826;
	margin: auto;
}

#logo1 {
	height: 375px;
	width: 375px;
	position: absolute;
	margin-top: -10px;
	margin-left: -50px;
	z-index: 1;
}

#logo2 {
	height: 320px;
	width: 320px;
	position: absolute;
	margin-top: 30px;
	margin-left: -20px;
	z-index: 1;
}

#titlebox {
	height: 300px;
	width: 1310px;
	background-color: #AF5826;
	margin-left: -20px;
	position: absolute;
	z-index: -1;
	opacity: .90;
}

#home {
	height: 300px;
	width: 1000px;
	position: absolute;
	margin-left: 260px;
	margin-top: -10px;

}

#beer {
	height: 250px;
	width: 950;
	position: absolute;
	margin-left: 290px;
	margin-top: 20px;

}

#news {
	height: 310px;
	width: 970px;
	position: absolute;
	margin-left: 260px;
	margin-top: -10px;
}

@font-face {
	font-family: navigation;
	src:url(Fonts/NeutraText-Book.otf);
}

#button {
	width: 300px;
	height: 51px;
		
	background-color: #808285;
	
	font-family: navigation;
	color: white;
	text-align: center;
	line-height: 50px;
	font-size: 1.6em;
}

#button2 {
	width: 290px;
	height: 51px;
		
	background-color: #808285;
	
	font-family: navigation;
	color: white;
	text-align: center;
	line-height: 50px;
	font-size: 1.6em;
}
#button3 {
	width: 290px;
	height: 51px;
		
	background-color: #808285;
	
	font-family: navigation;
	color: white;
	text-align: center;
	line-height: 50px;
	font-size: 1.6em;
}

#button4 {
	width: 260px;
	height: 51px;
		
	background-color: #808285;
	
	font-family: navigation;
	color: white;
	text-align: center;
	line-height: 50px;
	font-size: 1.6em;
}

.wrapper {
	position: absolute;
	left: 220px;
	top: 250px;
}

.wrapper2 {
	position: absolute;
	left: 490px;
	top: 250px;
}

.wrapper3 {
	position: absolute;
	left: 760px;
	top: 250px;
}

.wrapper4 {
	position: absolute;
	left: 1030px;
	top: 250px;
}

.drop1 {
	width: 270px;
	height: 180px;
			
	background-color: white;
	
	font-family: navigation;
	color: #808285;
	text-align: center;
	line-height: 60px;
	font-size: 1.25em;

}

.drop2 {
	width: 270px;
	height: 240px;
			
	background-color: white;
	
	font-family: navigation;
	color: #808285;
	text-align: center;
	line-height: 60px;
	font-size: 1.25em;

}

.drop3 {
	width: 270px;
	height: 240px;
		
	background-color: white;
	
	font-family: navigation;
	color: #808285;
	text-align: center;
	line-height: 60px;
	font-size: 1.25em;

}

#shop {
	color: white;
}

#shop:hover {
	color: #AF5826;
}

a {
	text-decoration: none;
	color: #808285;
}

a:visited {
	color: #808285 ;	
}

a:hover {
	color: #AF5826;
	text-decoration: none;
}

#pic1 {
	height: 500px;
	width: 1300px;
	margin-left: -10px;
	margin-bottom: 50px;
	margin-top: 300px;
	z-index: -1;
}

#pic2 {
	height: 500px;
	width: 1300px;
	margin-left: -10px;
	margin-bottom: 50px;
	margin-top: 300px;
	z-index: -1;
}

@font-face {
	font-family: subheading;
	src:url(Fonts/NeutraText-BoldSC.otf);
}

#subbox1 {
	height: 75px;
	width: 500px;
	background-color: white;
	margin-left: -10px;
	margin-top: -450px;
	opacity: .95;
	font-family: subheading;
	color: #AF5826;
	font-size: 3em;
	text-align: center;
	line-height: 70px;
}

#subbox2 {
	height: 75px;
	width: 500px;
	background-color: white;
	margin-left: 790px;
	margin-top: -76px;
	opacity: .95;
	font-family: subheading;
	color: #AF5826;
	font-size: 2.75em;
	margin-left: 800px;
	margin-top: -75px;
	text-align: center;
	line-height: 70px;
}

#pipes1 {
	height: 400px;
	width: 575px;
	border-style: solid;
	border-width: 10px;
	border-color: #939598;
	margin-left: -20px;
	margin-top: 20px;

}

#pipes2 {
	height: 400px;
	width: 575px;
	border-style: solid;
	border-width: 10px;
	border-color: #939598;
	margin-left: 700px;
	margin-top: -420px;
}

#middlebox1 {
	height: 270px;
	width: 480px;
	background-color: #6D6E71;
	margin-left: -20px;
	margin-top: 30px;
	opacity: .9;
	font-family: navigation;
	font-size: 1.8em;
	color: white;
	text-align: left;
	line-height: 40px;
	padding-left: 70px;
	padding-top: 30px;


}

#middlebox2 {
	height: 270px;
	width: 480px;
	background-color: #6D6E71;
	margin-left: 750px;
	margin-top: -300px;
	opacity: .9;
	font-family: navigation;
	font-size: 1.8em;
	color: white;
	text-align: left;
	line-height: 40px;
	padding-left: 70px;
	padding-top: 30px;

}

#box {
	width: 1170px;
	height: 100px;
	border: solid 10px #939598;
	margin: auto;
	margin-top: 520px;
	font-family: navigation;
	font-size: 1.2em;
	color: white;
	padding: 50px;
	padding-top: 20px;
	margin-left: -10px;

}


#hours {
	font-family: navigation;
	font-size: 1.2em;
	color: white;
	margin-top: -160px;
	margin-left: 1050px;


}

#facts {

	width: 1250px;
	height: 45px;
	border-style: solid;
	border-width: 10px;
	border-color: #939598;
	margin-top: 300px;
	font-family: subheading;
	font-size: 2.2em;
	color: #AF5826;
	padding-left: 20px;
	padding-top: 28px;

}

#click-one {
	font-size: 1.4em;
	font-family: navigation;
	margin-top: 70px;
	color: white;
	margin-left: 15px;
	text-align: center;

}

#click-two {
	font-size: 1.4em;
	font-family: navigation;
	color: white;
	margin-left: 20px;
	text-align: center;
	margin-top: -40px;

}

#click-three {
	font-size: 1.4em;
	font-family: navigation;
	color: white;
	margin-left: -25px;
	margin-top: -40px;
	text-align: center;
}

#bar {
	width: 1330px;
	height: 700px;
	z-index: -1;
	margin-left: -20px;
	margin-top: -10px;
}


#beer1, #beer2, #beer3 {
	height: 500px;
	width: 330px;
	
}

.glasses-container {
	margin-top: -420px;
}

.beer-glass-container {
	margin-left: 80px;
	margin-top: -25px;
	display: inline-block;
	height: 500px;
	width: 330px;
}

.beer-desc {
	opacity: 0;
	transition: all .5s ease-in-out;
}

.beer-glass-container:hover .beer-desc {
	opacity: 1;
}

#rectangle {
	width: 1290px;	background-color: #939598;
	margin-top: -70px;
}

#yellow {
	width: 950;
	height: 2000px;
	background-color: #fbb036;
	margin-top: 30px;
	margin: auto;
	display: none;
	font-size: 1.5em;
	font-family: navigation;
	color: white;
	padding: 50px;
	padding-left: 100px;

}

#orange {
	width: 900;
	height: 2000px;
	background-color: #AF5826;
	margin-top: 30px;
	margin: auto;
	display: none;
	font-size: 1.5em;
	font-family: navigation;
	color: white;
	padding: 50px;
	padding-left: 100px;
}

#brown {
	width: 850;
	height: 800px;
	background-color: #4d1616;
	margin-top: 30px;
	margin: auto;
	display: none;
	font-size: 1.5em;
	font-family: navigation;
	color: white;
	padding: 50px;
	padding-left: 100px;
}

.beer-click {
	cursor: pointer;
}


#quotes {
	font-family: subheading;
	color: white;
	margin-left: 280px;
	margin-top: -55px;
	font-size: 2em;
}

.singe-quote {
	margin-top: -35px;
	display: none;
}


#growler, #city, #maple {
	height: 400px;
	width: 600px;
}

#growler {
	margin-left: 720px;
	margin-top: -300px;
}

#city {
	margin-top: -300px;
	margin-left:-30px; 
}

#maple {
	margin-left: 700px;
	margin-top: -300px;
}

#border1 {
	height: 250px;
	width: 700px;
	border-style: solid;
	border-width: 10px;
	border-color: #939598;
	margin-top: 40px;
}

#border2 {
	height: 250px;
	width: 700px;
	border-style: solid;
	border-width: 10px;
	border-color: #939598;
	margin-left: 580px;
	margin-top: 50px;
}

#border3 {
	height: 250px;
	width: 700px;
	border-style: solid;
	border-width: 10px;
	border-color: #939598;
	margin-top: 40px;
}

@font-face {
	font-family: news;
	src:url(Fonts/SourceSansPro-Light.otf);
}


#paragraph1 {
	height: 160px;
	width: 630px;
	background-color: #6D6E71;
	padding: 20px;
	padding-top: 5px;
	font-family: navigation;
	font-size: 1em;
	color: white;
	line-height: 20px;
	margin-top: 20px;

}

#paragraph2 {
	height: 160px;
	width: 630px;
	background-color: #6D6E71;
	margin-top: 20px;
	margin-left: 630px;
	padding: 20px;
	padding-top: 5px;
	font-family: navigation;
	font-size: 1em;
	color: white;
	line-height: 20px;

}

#paragraph3 {
	height: 160px;
	width: 630px;
	background-color: #6D6E71;
	margin-top: 20px;
	padding: 20px;
	padding-top: 5px;
	font-family: navigation;
	font-size: 1em;
	color: white;
	line-height: 20px;

}

#news1 {
	height: 30px;
	width: 500px;
	font-size: 2.2em;
	font-family: navigation;
	color: white;
	background-color: #AF5826;
	padding: 20px;
	margin-top: -300px;
}

#news2 {
	height: 30px;
	width: 500px;
	font-size: 2.2em;
	font-family: navigation;
	color: white;
	background-color: #AF5826;
	padding: 20px;
	margin-top: -320px;
	margin-left: 760px;
}

#news3 {
	height: 30px;
	width: 500px;
	font-size: 2.2em;
	font-family: navigation;
	color: white;
	background-color: #AF5826;
	padding: 20px;
	margin-top: -300px;


}